@import "paper-body.css";
@import "paper-listing.css";

.paper {
  text-align: left;
  letter-spacing: 0;
}

table {
  display: block;
  overflow-x: auto;
  font-size: 12px;
  width: 100%;
}

table p {
  margin: 0;
}

td,
th {
  padding: 0 10px;
  border-bottom: 2px solid #000;
}

td:first-child:last-child,
th:first-child:last-child {
  padding-top: 1em;
  padding-left: 0;
  font-weight: normal;
  border-bottom: 0;
}

@media only screen and (max-width: 692px) {
  table {
    width: 100%;
    max-width: 90vw;
  }
}
