.paper__grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.paper__content--listing {
  max-width: 1346px;
  padding: 7.083%;
  font-size: 16px;
  column-count: 4;
}

@media only screen and (max-width: 1346px) {
  .paper--horizontal .paper__content--listing {
    column-count: 2;
  }

  .paper--horizontal .paper__content--column {
    column-count: 1;
  }
}

@media only screen and (max-width: 952px) {
  .paper--horizontal .paper__content--listing {
    column-count: 1;
  }

  .paper__grid-list {
    display: block;
  }
}
