.paper {
  display: grid;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 793.5px;
  margin: 0 auto;
  font-size: 19px;
  letter-spacing: -1px;
  text-align: justify;
}

.paper__content {
  margin: 6.6667%;
}

@media only screen and (max-width: 793.5px) {
  .paper {
    font-size: 2.3736vw;
  }
}

@media only screen and (max-width: 692px) {
  .paper {
    font-size: 16px;
  }
}
