@import "modified.css";

html {
  display: grid;
  align-items: center;
}

body {
  display: block;
  height: auto;
  max-width: 793.5px;
  margin: 0 auto;

  font-size: 19px;
  letter-spacing: -1px;
  text-align: justify;
}

body > :first-child:last-child {
  margin: 6.6667%;
}

@media only screen and (max-width: 793.5px) {
  body {
    font-size: 2.3736vw;
  }
}

@media only screen and (max-width: 692px) {
  body {
    font-size: 16px;
  }
}
