.paper {
  max-width: 952px;
  margin: 0 auto;
}

.paper__content {
  padding: 8.8235%;
  column-count: 2;
  column-gap: 3.7815%;
  font-size: 16px;
  letter-spacing: -1px;
}

.paper__content > p:first-child,
.paper__content h1,
.paper__content h1,
.paper__content h2,
.paper__content h3,
.paper__content .full-width-table {
  column-span: all;
}

.paper__content h2,
.paper__content h3 {
  margin-top: 6em;
}

table {
  width: 100%;
}
