html {
  display: grid;
  align-items: center;
}

body {
  display: block;
  height: auto;
  font-size: 16px;
  padding: 5.9375em;
  margin: 0 auto;
  column-count: 4;
}

@media only screen and (max-width: 1555.75px) {
  body {
    column-count: 3;
  }
}

@media only screen and (max-width: 1208.5px) {
  body {
    column-count: 2;
  }
}

table {
  display: block;
  overflow-x: auto;
  font-size: 12px;
  width: 100%;
}

table p {
  margin: 0;
}

td,
th {
  padding: 0 10px;
  border-bottom: 2px solid #000;
}

td:first-child:last-child,
th:first-child:last-child {
  padding-top: 1em;
  padding-left: 0;
  font-weight: normal;
  border-bottom: 0;
}

@media only screen and (max-width: 992.5px) {
  body {
    font-size: 16px;
    box-sizing: content-box;
    max-width: 37.75em;
    padding: 5vw;
    column-count: 1;
  }

  table {
    width: 100%;
    max-width: 90vw;
  }
}
