.center {
  text-align: center;
}

.appwrap {
  max-width: 1188px;
  margin-top: 0;
  h1 {
    color: #934414;
    font-size: 1.8em;
    margin: 0 0 0.5556em 0;
    text-transform: capitalize;
    font-weight: bold;
  }
  p {
    margin-bottom: 1em;
  }
}

.tableOfContents {
  column-count: 1;
  h3 {
    margin: 0.5em 0 0.1em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #666;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 768px) {
    column-count: 2;
  }
  @media (min-width: 1024px) {
    column-count: 3;
  }
  @media (min-width: 1280px) {
    column-count: 4;
  }
}
