.app {
  h1,
  .searchForm {
    text-align: center;
  }
}

.tableOfContents {
  font-family: sans-serif;
  column-count: 4;
  h3 {
    margin: 0 0 0.1em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #666;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 660px) {
  .tableOfContents {
    column-count: 1;
  }
}
