.block {
  display: block;
  position: relative;
  transition: margin-left 0.2s ease;
  @media screen and (min-width: 1024px) {
    &Init,
    &WithSidebar {
      margin-left: 284px;
    }
  }
}

.sidebar {
  position: fixed;
  display: grid;
  grid-template-rows: auto 1fr;
  background: white;
  top: 0;
  bottom: 0;
  left: -284px;
  box-sizing: border-box;
  width: 284px;
  border-right: 1px solid #eee;
  transition: left 0.2s ease;
  @media screen and (min-width: 1024px) {
    .blockInit & {
      left: 0;
    }
  }
  @media print {
    display: none;
  }
  .blockWithSidebar & {
    left: 0;
  }
  h2 {
    font-size: 1em;
    margin: 1em 0;
    padding: 0 16px;
  }
}

.groupList {
  padding: 4px 16px;
  overflow-y: auto;

  summary,
  li li {
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.inGroupList {
  margin-left: 1em;
}

.mainWrap {
  margin: 0 auto;
  margin-top: 56px;
  max-width: 740px;
  .blockWithSidebar & {
    margin-right: 0;
  }
  @media screen and (min-width: 1024px) {
    .blockInit &,
    .blockWithSidebar & {
      margin-right: auto;
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 960px;
  }
  @media print {
    max-width: unset;
  }
}

.pageControls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2px;
  line-height: 40px;
  height: 40px;
  align-items: center;
  background-color: white;
  padding: 0 16px;
  transition: left 0.2s ease;
  @media print {
    display: none;
  }
  .blockWithSidebar & {
    left: 284px;
  }
  @media screen and (min-width: 1024px) {
    .blockInit & {
      left: 284px;
    }
  }
  h2 {
    margin: 0;
    font-size: 1em;
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .currentGroupName {
      color: #888;
    }
  }

  button {
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    background-color: white;
    height: 22px;
    color: #444;

    &:hover {
      color: #000;
      background-color: #f5f5f5;
    }
    &:active {
      background-color: #eee;
    }
  }
  button svg {
    vertical-align: middle;
  }
}

.searchForm {
  display: grid;
  grid-template-columns: 1fr;
}

.main {
  max-width: 692px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  .blockWithoutTOC & {
    max-width: unset;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 252px;
    .blockWithoutTOC & {
      padding-right: 16px;
    }
  }
  @media print {
    max-width: unset;
  }
}

.toggleTOC {
  .blockWithSidebar & {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .blockWithSidebar & {
      display: block;
    }
  }
  @media screen and (min-width: 1280px) {
    .blockWithSidebar & {
      display: none;
    }
    display: none;
  }
}

.toc {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 56px;
  right: 16px;
  width: 236px;
  border-radius: 4px;
  max-height: calc(100% - 72px);
  padding: 8px;
  overflow: auto;
  border: 1px solid #eee;
  background-color: white;

  &Visible {
    display: block;
    @media print {
      display: none;
    }
  }

  @media screen and (min-width: 1280px) {
    display: block;
    margin-left: 724px;
    right: auto;
  }

  h2 {
    font-size: 1em;
    margin: 0 0 0.5em 0;
  }
  ul {
    margin-left: 0.5em;
  }
  > ul {
    margin-left: 0;
  }
  summary,
  li {
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a {
    padding-right: 0.5em;
  }
}
