.paper {
  max-width: 952px;
  margin: 0 auto;
}

.paper__content {
  padding: 8.825%;
  column-count: 2;
  column-gap: 4.08%;
  font-size: 16px;
}

.paper__content > p:first-child,
.paper__content h1,
.paper__content h1,
.paper__content h2,
.paper__content h3,
.paper__content .full-width-table {
  column-span: all;
}

.full-width-table {
  break-inside: avoid;
}

.paper__content h2,
.paper__content h3 {
  margin-top: 6em;
}

.paper__content h1 + h2,
.paper__content h1 + h3,
.paper__content h2 + h2,
.paper__content h2 + h3 {
  margin-top: 1em;
}

.paper__content h2 + p + h3 {
  margin-top: 1em;
  column-span: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.3334em 0;
  font-size: 12px;
}

@media only screen and (max-width: 952px) {
  .paper__content {
    column-count: 1;
  }

  .paper__content h2 {
    margin: 0.83em 0;
  }

  .paper__content h3 {
    margin: 1em 0;
  }
}

.paper__grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.paper__content--listing {
  max-width: 1346px;
  padding: 7.083%;
  font-size: 16px;
  column-count: 4;
}

.paper__content--listing h2 {
  margin-top: 0.83em;
}

.paper__content--listing h3 {
  margin-top: 1em;
}

td,
th {
  padding: 0 10px;
  border-bottom: 2px solid #000;
}

td:first-child:last-child,
th:first-child:last-child {
  padding-top: 1em;
  padding-left: 0;
  font-weight: normal;
  border-bottom: 0;
}

@media only screen and (max-width: 1346px) {
  .paper--horizontal .paper__content--listing {
    column-count: 2;
  }

  .paper--horizontal .paper__content--column {
    column-count: 1;
  }
}

@media only screen and (max-width: 952px) {
  .paper--horizontal .paper__content--listing {
    column-count: 1;
  }

  .paper__grid-list {
    display: block;
  }
}
