.searchForm {
  text-align: center;
}

.searchBox {
  position: relative;
}

.autocmplLayer {
  position: absolute;
  text-align: left;
  top: 18px;
  left: 2px;
  right: 2px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: none;
  &.active {
    display: block;
  }
  overflow-y: auto;
  max-height: 200px;
}

.autocmplItem {
  display: block;
  text-align: left;
  padding-left: 3px;
  color: #000;
  font-family: sans-serif;
  font-size: 87.5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.7;
  &:hover {
    background-color: #f5f5f5;
    text-decoration: none;
  }
  &.active {
    background-color: #08f;
    color: #fff;
    text-decoration: none;
  }
}
