@use './reset.css';

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.4;
  word-break: break-word;
  @media print {
    font-size: 13.3333px;
  }
}

a {
  color: #2423a1;
  text-decoration: none;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
  &:visited {
    color: #82197d;
  }

  &.active,
  &.active:visited {
    color: #bb191f;
  }
}

details {
  cursor: default;
}
