@use './reset.css';

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.2;
  word-break: break-word;
  @media print {
    font-size: 13.3333px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: #934414;
  &::before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 56px;
    margin-top: -56px;
  }
  a,
  a:visited {
    color: inherit;
  }
}

h1,
h2 {
  font-size: 1.8em;
  margin: 0.5556em 0;
}

h3 {
  font-size: 1.2em;
  margin: 0.8333em 0;
}

h4 {
  font-size: 1.1em;
  margin: 0.909em 0;
}

h5 {
  font-weight: bold;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

a {
  color: #2423a1;
  text-decoration: none;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
  &:visited {
    color: #82197d;
  }

  &.active,
  &.active:visited {
    color: #bb191f;
  }
}

details {
  cursor: default;
}

.table-container {
  overflow-x: auto;
}
